@page
@model SmartItApp.Pages.Lists.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor") || User.IsInRole("PM"))
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form d-flex" style="margin-bottom:10px">
            </div>
            <div class="form d-flex" style="margin-bottom:10px">
                <form method="post" asp-page-handler="FindId" class="d-flex w-100">
                    <input asp-for="SearchStringId" class="form-control form-input" placeholder="Search by ID">
                    <button class="btn btn-outline-dark mt-auto" style="margin-inline-start:10px" type="submit">Find</button>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GetSortOrder("Id",Model.CurrentSortOrder)">
                @Html.DisplayNameFor(model => model.Project[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GetSortOrder("ProjectManager",Model.CurrentSortOrder)">
                @Html.DisplayNameFor(model => model.Project[0].ProjectManager)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GetSortOrder("ProjectType",Model.CurrentSortOrder)">
                @Html.DisplayNameFor(model => model.Project[0].ProjectType)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GetSortOrder("StartDate",Model.CurrentSortOrder)">
                @Html.DisplayNameFor(model => model.Project[0].StartDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GetSortOrder("EndDate",Model.CurrentSortOrder)">
                @Html.DisplayNameFor(model => model.Project[0].EndDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Comment)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GetSortOrder("Status",Model.CurrentSortOrder)">
                @Html.DisplayNameFor(model => model.Project[0].Status)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if(User.IsInRole("Admin")|| User.IsInRole("PM") || User.IsInRole("Supervisor"))
                {
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                }

                
            </td>
        </tr>
}
    </tbody>
</table>
