@page
@model RegisterModel
@{
    ViewData["Title"] = "Add user";
}

<h1>Add new user</h1>
<hr />
 <div class="row justify-content-center">
    <div class="col-md-10"  >
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group form-inline mb-3">
                <label asp-for="Input.FullName" class="control-label">Full name</label>
                <input asp-for="Input.FullName" class="form-control"  aria-required="true" placeholder="FullName" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Input.Subdivision" class="form-select">
                    <option disabled selected>Choose Subdivision</option>
                    @foreach(var option in Enum.GetValues(typeof(SmartItApp.Enums.Subdivisions)))
                    {
                        <option>@option</option>
                    })
                </select>
                <span asp-validation-for="Input.Subdivision" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Input.Position" class="form-select">
                    <option disabled selected>Choose Position</option>
                    @foreach (var option in Enum.GetValues(typeof(SmartItApp.Enums.Positions)))
                    {
                        <option>@option</option>
                    })
                </select>
                <span asp-validation-for="Input.Position" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Input.Status" class="form-select ">
                    <option disabled selected>Choose Status</option>
                    @foreach (var option in Enum.GetValues(typeof(SmartItApp.Enums.Statuses)))
                    {
                        <option>@option</option>
                    })
                </select>
                <span asp-validation-for="Input.Status" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Input.PeoplePartner" class="form-select">
                    <option disabled selected>Choose HR's ID'</option>
                    @foreach (var option in Model.HRs)
                    {
                        <option>@option.Id</option>
                    })
                </select>
                <span asp-validation-for="Input.PeoplePartner" class="text-danger"></span>
            </div>
            <div class="form-group form-inline mb-3">
                <label asp-for="Input.DaysOff" class="control-label">Days off</label>
                <input asp-for="Input.DaysOff" class="form-control" aria-required="true" placeholder="Days off" />
                <span asp-validation-for="Input.DaysOff" class="text-danger"></span>
            </div>
            <div class="form-group form-inline mb-3">
                <label asp-for="Input.Password" class="control-label">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-inline mb-3">
                <label asp-for="Input.ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-inline mb-3">
                <label asp-for="ImageFile" class="control-label">Photo</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div> 
         
            <div class="form-group mb-3">
                <select asp-for="Input.Role" class="form-select">
                    <option disabled selected>Choose Role</option>
                    @if (User.IsInRole("Supervisor"))
                    {
                        <option>Admin</option>
                    }
                    <option>HR</option>
                    <option>PM</option>
                    <option>Employee</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add user</button>
        </form>
    </div>
</div> 


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
