@page
@model SmartItApp.Pages.Lists.Employees.DetailsModel
@using SmartItApp.Models

@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dd>
                    <section class="py-5">
                        <div class="container px-4 px-lg-5 my-5">
                            <div class="row gx-4 gx-lg-5 align-items-center">
                                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Employee.Photo" alt="@Model.Employee.Photo" /></div>
                            </div>
                        </div>
                    </section>

                </dd>
                <dt class="col-sm-3">
                    Full Name
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Employee.FullName)
                </dd>
                <dt class="col-sm-3">
                    Subdivision
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Employee.Subdivision)
                </dd>
                <dt class="col-sm-3">
                    Position
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Employee.Position)
                </dd>
                <dt class="col-sm-3">
                    Status
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Employee.Status)
                </dd>
                <dt class="col-sm-3">
                    Days Off
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Employee.DaysOff)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @if (User.IsInRole("Admin") || User.IsInRole("HR"))
            {
                <a asp-page="./Edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
            }
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
        <div class="col-md-6 text-end">
            @if (User.IsInRole("Supervisor"))
            {
                <a asp-page="./Delete" asp-route-id="@Model.Employee.Id" class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>
